{% extends 'base.html' %}
{% load static %}
{% block title %}Worksheet{% endblock title %}

{% block body %}
<div class="container-fluid">
<h1>Worksheet for all these subjects are available:</h1>
    <div class="p1" style="background-color:aquawhite;">
<h3>C Programming</h3>
<h3>C++ Programming</h3>
<h3>Java Programming</h3>
<h3>PythonProgramming</h3>
<h3>Physics</h3>
<h3>Data Structures</h3>
<h3>Operating system</h3>
<h3>DataBase Management System(DBMS)</h3>
  </div>
<br>
  <br>
      <br>
  <br>
  <br>
  <div class="p2">
    <p>Per worksheet charge(Rs.30)</p>
  <p>Contact:9622084318,7006153489,9672980351</p>
</div>
</div>
{% endblock body %}